#main_grid {
    background:#dddddd;
    width:500px;
    height:500px;
    padding:20px;
    margin:0px auto;    
    box-shadow: inset 0px 0px 20px -6px rgba(97,89,97,1);
  }

.digit {
    background-color: #c6d3dd;
    width:44px;
    height:44px;
    float:left;
    margin:1px;
    padding:3px;
    font-size:40px;
    border: 1px solid black;
  }

  .block {
    background-color: #79b48d;
    width:162px;
    height:162px;
    float:left;
    margin:0px;
    padding:0px;    
    border: 1px solid black;
  }

  .num{
    font-size:auto;
    float: center;
    margin:0px;
    padding:2px 10px; 
  }

  .border-right{
    border-width: 1px 2px 1px 1px;
    border-style: solid;
    border-right-color: red;
  }

  .border-left{
    border-width: 1px 1px 1px 2px;
    border-style: solid;
    border-left-color: red;
  }